

/* gerais */
body {
    font-family: 'Arial', sans-serif;
    background-color: #b2e1e2;
    margin: 0;
    padding: 0;
}

/* cabeçalho */
header {
    background-color: #eee6e6;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-family: 'Helvetica', sans-serif;
    font-size: 32px;
    font-weight: bold;
}

/* navegação */
nav {
    background-color: #73d1d1;
    padding: 10px;
}

/* conteúdo */
main {
    padding: 20px;
}


h2 {
    font-weight: bold;
    font-style: normal;color: #111111;
}

p {
    font-style: normal;
    line-height: 1.5;
   
}


/* Estilos das caixas de seção */

.caixa {
    background-color: #e9eff0;
    border: 1px solid #0fd69a;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(70, 146, 160, 0.1);
}

.menu {
    display: flex;
    justify-content: left;
    padding: 10px 0;
}

.menu li {
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: #0d0d0e;
    padding: 5px 15px;
    border: 1px solid #210f6e;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.menu a:hover {
    background-color: #9cc232;
    color: #333;
}


/* rodapé */
footer {
    background-color: #eee;
    text-align: center;
    padding: 10px;
    font-style: italic;
}

#final {
    text-align: center;
    padding: 10px;
    font-style: oblique;
}

/* para celular */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin: 5px 0;
    }
}

header img {
    max-width: 90%; /* Reduz um pouco a largura da imagem em telas menores */
}


/* banner */

